# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
dist/
client/dist/

# env
.env
.env.local
.env.*.local
client/.env.local
client/.env
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
